name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        helm:
          # - "2.16.12"
          # - "2.17.0"
          # - "3.3.4"
          # - "3.4.2"
          # - "3.5.4"
          # - "3.6.3"
          # - "3.7.2"
          # - "3.8.2"
          # - "3.9.4"
          - "3.10.3"
          - "3.11.3"
          - "3.12.3"
          - "3.13.3"
          - "3.14.4"
          - "3.15.4"
          - "3.16.4"
          - "3.17.4"
          - "3.18.6"
          - "3.19.0"
    steps:
      - uses: actions/checkout@v1

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Publish to GitHub Container Registry
        env:
          REGISTRY: ghcr.io/appscode
          DOCKER_TOKEN: ${{ secrets.LGTM_GITHUB_TOKEN }}
          USERNAME: 1gtm
        run: |
          docker login ghcr.io --username ${USERNAME} --password ${DOCKER_TOKEN}
          cd root
          make release RELEASE=${{ matrix.helm }}
          cd ../nonroot
          make release RELEASE=${{ matrix.helm }}
